/* HIERARCHICAL */
.alert{
    margin-bottom: 1rem;
}
.alert a,p{
    display: inline-block;
    padding: 2px;
    background-color: #A9A9A9;
    color: #000000;
    border-radius: 10px 10px 10px 10px;
}