/* Styling Logo*/

.logo{
    padding: 1vh 1vw;
    text-align: left;
    width: 10vw;
}

.logo img{
    height: auto;
    margin-right: 30px;
    margin-top: 2px;
    width: 2rem;
}

/* Styling Navigation Links*/

.nav-links{
    width: 80vw;
    display: flex;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-weight: 600;
}

.nav-links li a{
    margin: 0 0.7vw;
    text-decoration: none;
    transition: all ease-in-out 350ms;
    padding: 10px;
}

.nav-links li a:hover{
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.nav-links .dropdown-action:hover{
    color:#000;
    background-color: #fff;
    padding: 10px;
    border-radius: 50px;
}

.nav-links li{
    position:relative;
}

.nav-links li a:hover::before{
    width: 80%;
}
.dropdown-action .hover label:hover{
    cursor: pointer;
    color:#000;
    background-color: #fff;
}
.dropdown-action .button span{
    float: right;
    transition: 0.5s;
}
.dropdown-action ul li a:hover{
  color: cyan; 
}
.dropdown-action ul{
    position: absolute;
    background: #808080;
    list-style: none;
    top: 75px;
    right: 0px;
    width: 200%;
    border-radius: 5px;
    display: none;
  }
  [id^=btn]:checked + ul{
    display: block;
}
.dropdown-action .menu:before{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background: #808080;
    right: 20px;
    top: -10px;
    transform: rotate(45deg);
    z-index: -1;
  }
.dropdown-action ul li{
    line-height: 40px;
    padding: 8px 20px;
    cursor: pointer;
}


.dropdown-action ul ul{
    position: static;
  }
.dropdown-action ul ul li{
    line-height: 30px;
    padding-left: 30px;
    border-bottom: none;
  }
.dropdown-action ul ul li a{
    color: #e6e6e6;
    font-size: 17px;
  }
.dropdown-action ul li span{
    font-size: 20px;
    float: right;
    margin-top: 10px;
    padding: 0 10px;
    transition: 0.5s;
}
.dropdown-action input{
    display: none;
}