
/* CONTENT */

.content .title h1{
    font-weight: bold;
    background-color: #fff;
}
/* FORM POST */
.content .title{
    margin-bottom: 1rem;
}
.post-form{
    display: inline-block; 
    width: 100%;
	margin:0 auto;
}

.select-address{
    margin-bottom: 1rem;
}

.select-address h3{
    font-weight: bold;
}

/* SELECT BOX FOR ADDRESS */
.select-address-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.select-box {
    cursor: pointer;    
    width: 13rem;
    position : relative;
    margin-right: auto;
}
.select-address-box div:last-child{
    margin-right:0rem;
}
  .select,.label {
    color: #414141;
    display: block;
    font: 400 17px/2em 'Source Sans Pro', sans-serif;
  }
  
  .select {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 5px 0;
    height: 40px;
    opacity: 0;
    background: none transparent;
    border: 0 none;
  }
  .select-box1 {
    background: #00B4CC;
    border-radius: 8px 8px 8px 8px;
  }
  
  .label {
    position: relative;
    padding: 5px 10px;
    cursor: pointer;
    
  }
/* INPUT ADDRESS */
.input-address{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.input-address input{
    margin-right: auto;
    width: 45%;
    padding: 5px 0;
    height: 48px;
    border: 3px solid #00B4CC;
    border-radius: 8px 8px 8px 8px;
}
.input-address input:last-child{
    margin-right:0rem;
}
.input-address input::placeholder{
    color: #808080;
}

/* DESCRIPTION INFORMATION */

.infor-desc h3{
    margin-bottom: 1rem;
    font-weight: bold;
}

.infor-desc .post-infor input{
    width: 99.2%;
    padding: 5px 0;
    height: 48px;
    border: 3px solid #00B4CC;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 1rem;
}

.post-infor textarea{
    width: 99.2%;
    padding: 5px 0;
    height: 230px;
    border: 3px solid #00B4CC;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 1rem;
    resize: vertical;
}

.accomodation-infor{
    display: flex;
    flex-direction: row;
}
.accomodation-infor .row-first{
    width: 45%;
    margin-right: 5.5rem;
}
.accomodation-infor .row-second{
    width: 45%;
}
.accomodation-infor input{
    width: 100%;
    padding: 5px 0;
    height: 48px;
    border: 3px solid #00B4CC;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 1rem;
}

.form-check{
    display: flex;
    flex-direction: row;
}

.form-check .checkbox-input{
    margin-right: auto;
}

.form-check .checkbox-input:last-child{
    margin-right:0rem;
}

/* MEDIA */
.media-infor{
  position: relative;
  width: 100%;
  height: 220px;
  margin-bottom: 13rem;
}
.media-infor-video{
  position: relative;
  width: 100%;
  height: 220px;
  margin-bottom: 3rem;
}
.media-infor .h3{
    font-weight: bold;
}
.media{
    position: absolute;
    width: 100%;
    height: 200px;
}
.media p{
  width: 98.8%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #ffffff;
  font-family: Arial;
}
.media input{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 98.8%;
    height: 100%;
    outline: none;
    opacity: 0;
}
.preview-image{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.media img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 18.4%; /* Set a small width */
    height: 156.400px;
    margin-right: 1rem;
}

.media img:last-child{
    margin-right: 0px;
}
/* BUTTON SUBMIT FORM */
.btn-action{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.btn-action .create-post-btn{
    width: 250px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.clear-post-btn{
    background-color: #D3D3D3;
}