/* FOOTER */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #053742;
    height: 0.4rem;
    width: 100vw;
    padding-top: 40px;
    color: #f2f5f7;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    position: fixed;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 3rem;
    padding-bottom: 40px;
}