*{
    margin:0; padding:0;
    color:#f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
}
.navbar{
    background-color: #053742;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    height: 6rem;
}
nav{
    height: 3rem;
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 10;
    background-color: #053742;
}

.navbar .navbar-action{
    text-align: center;
}