/* FOOTER */

footer{
    background-color: #053742;
    width: 100%;
    color: #f2f5f7;
    box-shadow: 0 3px 20px rgba(0,0,0,0.2);
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 3rem;
}